*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0652c0;
  color: var(--light-color);
  padding: 10px;
  font-size: 1.5rem;
}

.navbar__logo {
  font-weight: bold;
  font-size: 2rem;
}

/* Chatbot Container */
.container {
  height: 100%;
  width: 100%;
  background: #4b5c66;
  box-shadow: 0px 0px 15px 0px black;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 600px) {
  .container {
    height: 350px;
    width: 450px;
    top: 30%; 
    left: 50%;
    margin: -150px 0px 0px -200px;
  }
}

.chat-body {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  padding: 8px 10px;
  align-items: flex-end;
  overflow-y: scroll;
}

.chat-input {
  height: 60px;
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
}

.input-sec {
  flex: 9;
}

.send {
  flex: 1;
  padding-right: 4px;
}

#txtInput {
  line-height: 30px;
  padding: 8px 10px;
  border: none;
  outline: none;
  caret-color: black;
  font-size: 1rem;
  width: 100%;
}

.chatbot-message,
.user-message {
  padding: 8px;
  width: auto;
  background: #ccc;
  margin: 5px;
  width: max-content;
  border-radius: 10px 3px 10px 10px;
  word-break: break-all; 
  overflow-wrap: break-word;
}

.chatbot-message {
  width: auto;
  background: #0652c0;
  color: var(--light-color);
  align-self: flex-start;
  border-radius: 10px 10px 3px 10px;
  word-break: break-all; 
  overflow-wrap: break-word;
}
